/* HOMEPAGE.CSS */

html {
    font-family: 'Consolas';
    background-color: rgb(221, 240, 255);
}

button {
    font-size: 1.5rem;
    border-radius: .2rem;
    margin-right: 5rem;
    margin-top: 5rem;
    text-decoration: none;
    background-color: rgb(39, 179, 255);
    border-color: rgb(12, 129, 192);
    color: rgb(0, 11, 19);
}

.contain {
    text-align: center;
}

h1 {
    color:rgb(26, 65, 104)
}

.login {
    font-family: 'Consolas';
    padding-top: 1rem;
    font-size: 2.5rem;
    font-style: italic;
}

p {
    font-size: 1.5rem;
    margin-top: 12rem;
}