/* HOMEPAGE.CSS */

@import url("Team-Arbitrary.github.io/General.css");

html {
    font-family: 'Consolas';
    background-color: rgba(180, 210, 255, 0.4);
}

button {
    font-size: 1.5rem;
    border-radius: .2rem;
    margin-right: 5rem;
    margin-top: 5rem;
    text-decoration: none;
    background-color: rgb(39, 179, 255);
    border-color: rgb(12, 129, 192);
    color: rgb(0, 11, 19);
}

.contain {
    text-align: center;
}

h1 {
    color:rgb(26, 65, 104)
}

p {
    font-size: 1.5rem;
    margin-top: 12rem;
}